.continer{
    background: -webkit-linear-gradient(55deg,#4a63f1 0,#557ce6 11%,#179fff 75%,#04dcfe 100%);    box-sizing: border-box;
    height: 800px;
    width: 100%;
}
.continer h3{
    box-sizing: border-box;
    padding-top: 12%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.contentSection{
    width: 100%;
    height: auto;
    padding: 6%;
    display: flex;
    box-sizing: border-box;
}
.contentSection p{
    font-size: 20px;
    color: #252525;
    font-weight: bold;
    text-align: center;
}
.inputs{
    width: 50%;
    box-sizing: border-box;
}
.inputs input{
    width: 49.2%;
    height: 40px;
    margin:2px;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 1.5px;
    border: 0px;
}
.inputs textarea{
    width: 99%;
    height: 100px;
    margin: 3px;
    padding: 7px;
    box-sizing: border-box;
}
.inputs button{
    width: 250px;
    height: 40px;
    background: #B2DFDB;
    border: 0px;
    margin-top: 10px;
    margin-left: 30%;
    color: #252525;
}
.inputs button:hover{
    color: #fff;
    background: #00796B;
    cursor: pointer;
}
.details{
    width: 50%;
    height: 300px;
    float: right;
}
.details p{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    color: #252525;
    margin: 15px;
    text-align: left;
}
.details p span{
    color: #252525;
    margin-left: 10%;
    font-weight: bold;
}
.details p a{
    color: #252525;
text-decoration: none;
}