*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.headSection{
    width: 100%;
    height: 800px;
}
.appPicSection {
    width: 50%;
    height: 600px;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 40%;
    background: #00BCD4;
    box-sizing: border-box;
}
.appPic{
    width: 100%;
    margin-top: 10%;
    margin-left: 12%;
}

.aboutApp{
    width: 50%;
    height: 200px;
    float: right;
    margin-top: -30%;
    padding-left: 5%;
}
.aboutApp h2{
    font-size: 35px;
    font-family: sans-serif;
    color: #252525;
    font-weight: 100;
    margin-top: 50px;
}
.aboutApp h2 span {
    color: #00BCD4;
    font-weight: 600;
}
.aboutApp p{
    width: 400px;
    font-size: 15px;
    color: #252525;
    margin-top: 25px;
}
.aboutApp p span{
    color: #00BCD4;
}
.btnDawnlode{
    width: 200px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background: #B2EBF2;
    color: #252525;
    margin-top: 50px;
}
.btnDawnlode:hover{
    color: #fff;
    background: #0097A7;
    cursor: pointer;
    transition: all .5s ease-in;
}



